<h1>List of all movies</h1>

<table border="1">
  <tr>
    <td>ID</td>
    <td>Image</td>
    <td>Title</td>
    <td>Year</td>
    <td>Director</td>
    <td></td>
  </tr>
  <% @movies.each do |film| %>
    <tr>
      <td><%= film.id %></td>
      <td><img src="<%= film.image %>" width=200></td>
      <td><%= film.title %></td>
      <td><%= film.year %></td>
      <td><%= Director.where({ :id => film.director_id }).at(0).name %></td>
      <td><a href="/movies/<%= film.id %>">Show details</a></td>
    </tr>
  <% end %>
</table>

<h2>Add a Movie</h2>
<form action="/movies/new">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
  </div>

  <div>
    <label for="year">Year</label>
    <input type="text" id="year" name="year">
  </div>

  <div>
    <label for="duration">Duration</label>
    <input type="text" id="duration" name="duration">
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" name="description"></textarea>
  </div>

  <div>
    <label for="image_url">Image URL</label>
    <input type="text" id="image_url" name="image_url">
  </div>

  <div>
    <label for="director_id">Director</label>
    <select id="director_id" name="director_id">
      <% @directors.each do |director| %>
        <option value=<%= director.id %>><%= director.name %></option>
      <% end %>
    </select>
  </div>

  <button>Add movie</button>
</form>
